<!DOCTYPE html>
<html>
<head>
    <title>DNA Analysis for Diseases</title>
    <script src="static/js/external/jquery.min.js"></script>
    <script src="static/js/external/jquery-ui.min.js"></script>
    <script src="static/js/external/jquery.highlighttextarea.js"></script>

    <link rel="stylesheet" href="static/css/external/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/external/jquery.highlighttextarea.min.css">

    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div id="dna">
        <div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div>
      </div>
    <div id="container">
        <p>Enter your DNA sequence below:</p>
        <label for="dnaInput">DNA Sequence:</label>
        <textarea id="dnaInput" placeholder="Paste your DNA sequence here..."></textarea>
        <br>
        <button onclick="analyzeDNA()">Analyze</button>

        <div id="result">
            <p id="analysisResult">The AI analysis will appear here.</p>
        </div>
    </div>

    <script>
        function analyzeDNA() {
            const dnaSequence = document.getElementById("dnaInput").value;
            const analysisResult = document.getElementById("analysisResult");

            fetch('/analyze', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ dna_sequence: dnaSequence }),
            })
            .then(response => response.json())
            .then(data => {

                analysisResult.textContent = data.result;
                $('textarea').highlightTextarea({
                    words: ['CATGTGAAC']
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>